.reset-btn{
    border: none;
    border-radius: 0.5rem;
    background-color: rgb(39, 71, 69);
    color: goldenrod;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    margin: 2rem auto;
    display: block;
}